@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
body {
    background-color: #f7f7f7;
    font-family: Verdana;
    max-width: 1320px;   
}
.video {
    position: fixed;
    top: 0px;
    left: 0px;
    min-width: 320px;
    width: 100%;
    height: 100%;
    z-index: -20;
    object-fit: cover;
    margin: auto;
    justify-content: center;
}

div ul {
    display: flex;
    
    margin: 0px;
    margin-bottom: 20px;
    font-size: 12pt;
    font-family: 'Kdam Thmor Pro', sans-serif;
    flex-direction: column;
    align-items: left;
    color: #c2bebe;
}

nav#menu {
    display: flex;
    position: relative;
    justify-content: right;
    min-width: 220px;    
}
nav#menu ul {
    list-style: none ;
    text-transform: uppercase ;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    margin: 15px;
    padding: 0px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    width: 715px;
    flex-wrap: wrap;
}
nav#menu li {
    display: inline-block;
    background-color: #161414;
    opacity: 80%;
    padding: 7px;
    margin: 0px;
    transition: background-color 1s ;
    border-radius: 5px;
}
nav#menu li:hover {
    background-color:#606060;
}
nav#menu h1 {
    display: none;
}
nav#menu a {
    color: white;
    text-decoration: none ;
}
nav#menu a:hover {
    color: white;
}

div {
    border: #505050 3px solid; 
    box-shadow: inset 0 0 1em blue;
    border-radius: 5px;
    display: flex;
    background-color: black;
    opacity: 90%;
    color: white;
    font-family: 'Kdam Thmor Pro', sans-serif;
    padding: 5px;
    max-width: 870px;
    min-width: 220px;
    margin: auto; 
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

img {
    margin: 5px;
    display: flex;
}

p.title {
    color: #ffffff;
    text-shadow: #606060 2px 1px 1px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

p.plataforma {
    color: #606060;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

img.logoCurso {
    border-radius: 8px;
}

img.logoIfsul {
    border-radius: 8px;
}

section {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

section.if {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    text-align: center;
}

section.dio {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        text-align: center;
}